---
import type { ImageMetadata } from "astro";

import StaticImage from "./StaticImage.astro";

interface Props {
    path: string;
    alt: string;
}

const { path, alt, ...rest } = Astro.props;
const actualPath = `../../../../static${path}`;

const images = import.meta.glob<{ default: ImageMetadata }>(
    "../../../../static/**/*.{jpeg,jpg,png,gif,svg}",
);

if (!images[actualPath])
    throw new Error(
        `"${path}" does not exist in glob: "static/*.{jpeg,jpg,png,gif,svg}"`,
    );

const img = await images[actualPath]();
---

<a href={img.default.src} download>
    <StaticImage path={path} alt={alt} {...rest} />
</a>
